body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #fdfdfd;
  color: #222;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #8d235d;
  background: #620a9c;
}

.navbar a {
  text-decoration: none;
  color: #a3a2a2;
  font-weight: 500;
}

main {
  margin: 2rem auto;
  padding: 0 1rem;
}

.subtitle {
  color: #666;
  margin-bottom: 2rem;
}

.card {
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
}

.date {
  color: #777;
  font-size: 0.9rem;
}

canvas {
  border: 2px solid #333;
  margin-top: 1rem;
}
.score {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.about img {
  width: 50%;
  height: auto;
}

.corner-images {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  gap: 0.75rem;
  padding: 0.5rem;
  z-index: 10;
  pointer-events: none;
}

.corner-images img {
  width: 120px;
  height: auto;
}